.pledge-details{
    display: flex;
    justify-content: center;
    gap: 4rem;
    /* justify-content: space-between; */
    align-items: center;
    border-top: 1px solid #DCD8EE;
    padding: 2rem 5rem 2rem 0rem;
    border-bottom: 1px solid #DCD8EE;
    background-color: #FFFBFA;

}

.project-img{
    width: 30%;
    padding:2rem 0 2rem 0
    
}

.pledge-details img.avatar{
    height:200px;
    width: 200px;
    border-radius: 120px;
  }
.pledge-section {
    margin: auto;
    display: flex;
    justify-content: center;
    gap:2rem;
}