

/* .navbar{  
    border:solid 1px green;  
    display:inline-block;
    padding: 3rem;
}; */

.navbar{  
    flex-basis: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;

};
.left-nav{
    display:flex;;
    
    align-items: center;
    gap: 0.5rem;
}

.login-btn{
    padding: 0.5rem 1rem;
    /* font-size: 1.25rem; */
    line-height: 1.5;
    border-radius: 100px;
    border-color: purple;
}
.logo{
    width: 40%;
    padding-right: 0.5rem;
}